<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IllustratorからInDesign.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <IllustratorからInDesign.Properties.Settings>
            <setting name="saveMargin" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="moveXY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveMarginY" serializeAs="String">
                <value>2.0</value>
            </setting>
            <setting name="OneChara" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorConvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OneTracking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OneRotation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnePosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OneTsume" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OneItalics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OneNoBreak" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OneAki" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OneUnderline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OneStroke" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultiFrame" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MultiChara" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="MultiPara" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CMY0" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CMYK0" serializeAs="String">
                <value>True</value>
            </setting>
        </IllustratorからInDesign.Properties.Settings>
    </userSettings>
</configuration>
